.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
}

.buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.twitter {
    cursor: pointer;
    transition: all ease-in-out 0.1s;
    z-index: 2;
    display: flex;
    align-items: center;
}

.twitter:hover {
    opacity: 0.7;
    transition: all ease-in-out 0.1s;
}