.container {
  padding: 0 2rem;

}

@media screen and (min-width:1024px) {
  .container {
    padding: 0 4rem;

  }
}

.main {
  min-height: 100vh;
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;

}

.section1,
.section2,

.section4 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section1 {
  min-height: calc(100vh - 9em);
}


.main__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 150%;
}

.main__description {
  font-size: 18px;
  margin-top: 20px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
}

.description {
  font-size: 16px;
  margin-top: 40px;
  color: #CCCCCC;
}



@media screen and (min-width:767px) {
  .title {

    font-size: 48px;
    line-height: 120%;
  }

  .description {
    font-size: 22px;
    margin-top: 40px;

  }

  .main__title {
    font-weight: 700;
    font-size: 58px;
    line-height: 150%;
  }

  .main__description {
    font-size: 22px;
    margin-top: 20px;
  }


}




.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.buttons__desc {

  font-weight: 400;
  font-size: 16px;
  color: #CCCCCC;
  margin-top: 20px;
}

.bold {
  font-weight: 700;
}

.trust__logos {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%);
}

.small__text {

  font-weight: 400;
  font-size: 12px;
  color: rgba(204, 204, 204, 0.5);

}

.gap {
  height: 50px;
}

.images {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}

.bell {
  position: absolute;
  bottom: 160px;
  z-index: 2;
  transform: translate(150px);
  width: 70px;
  height: 78px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width:370px) {
  .bell {
    transform: translate(135px);
  }
}

@media screen and (max-width:350px) {
  .bell {
    transform: translate(120px);
  }
}

@media screen and (max-width:310px) {
  .bell {
    transform: translate(110px);
  }
}

@media screen and (min-width:767px) {
  .bell {
    transform: translate(160px);
  }
}



@media screen and (min-width:767px) and (max-width:1023px) {
  .description {
    max-width: 500px;
  }


}

.right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (min-width:1024px) {
  .description {
    max-width: 600px;
  }

  .images {
    flex-direction: row;
    gap: 40px;
  }

  .image {
    transform: rotate(-6.7deg) translate(20px);

  }

  .bell {
    top: -100px;
    transform: translate(354px);
    width: 130px;
    height: 100%;
  }
}



@media screen and (min-width : 1023px) {
  .section1 {
    align-items: flex-start;
  }

  .main__title,
  .main__description {
    text-align: left;
  }

  .main__title {
    line-height: 120%;
  }

  .buttons {
    flex-direction: row;
    align-items: flex-start;
  }

  .trust__logos {

    bottom: 1em;
    left: 3rem;
    transform: translate(0%);
  }
}

.section1 {
  overflow: hidden;
}

.hero__hand {
  position: absolute;
  right: 0;
  transform: translate(10%);
  top: 0;
  width: 800px;
  height: 100%;


}